[submodule ".vim/pack/plugins/start/nerdtree"]
	path = .vim/pack/plugins/start/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/pack/plugins/start/vim-colors-solarized"]
	path = .vim/pack/plugins/start/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/pack/plugins/start/vim-javascript"]
	path = .vim/pack/plugins/start/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule ".vim/pack/plugins/start/syntastic"]
	path = .vim/pack/plugins/start/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule ".vim/pack/plugins/start/vim-json"]
	path = .vim/pack/plugins/start/vim-json
	url = git://github.com/leshill/vim-json.git
[submodule ".vim/pack/plugins/start/vim-less"]
	path = .vim/pack/plugins/start/vim-less
	url = git://github.com/groenewege/vim-less.git
[submodule ".vim/pack/plugins/start/vim-css3-syntax"]
	path = .vim/pack/plugins/start/vim-css3-syntax
	url = git://github.com/hail2u/vim-css3-syntax.git
[submodule ".vim/pack/plugins/start/vim-css-color"]
	path = .vim/pack/plugins/start/vim-css-color
	url = git://github.com/skammer/vim-css-color.git
[submodule ".vim/pack/plugins/start/vim-surround"]
	path = .vim/pack/plugins/start/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/pack/plugins/start/vim-commentary"]
	path = .vim/pack/plugins/start/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule ".vim/pack/plugins/start/vim-fugitive"]
	path = .vim/pack/plugins/start/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/plugins/start/vim-airline"]
	path = .vim/pack/plugins/start/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule ".vim/pack/plugins/start/vim-bufferline"]
	path = .vim/pack/plugins/start/vim-bufferline
	url = https://github.com/bling/vim-bufferline.git
